#gamearea {
    padding: 10px;
    margin: auto;
    background-color: white;
    width: 580px;
    height: 506px;
    overflow: hidden;
}

.card {
    width: 90px;
    height: 120px;
    line-height: 80px;
    border: 1px solid silver;
    border-radius: 10px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    box-shadow: gray 2px 2px;
    background: white;
    float: left;
    cursor: pointer;
    margin: 2px;
}


/* 裏の状態 */

.back {
    border-radius: 10px;
    margin: 2px;
    float: left;
    background-image: url('img/back.jpeg');
    border: gray solid 1px;
    width: 90px;
    height: 120px;
}


/* 終了時 */

.finish {
    opacity: 0;
    cursor: default;
}

#error {
    color: #378537;
}

#difficulty {
    margin: 2%;
}

body {
    margin: 0 15%;
    background-color: #edeff1;
    color: #586a66;
    text-align: center;
}

h1 {
    background-color: #378537;
    color: #ffffff;
}

h2 {
    border-bottom: dotted #5baa5b 3px;
    padding-left: 10px;
}

#diff {
    padding: 10px 0px 0px;
}

#info,
#howto {
    margin: 5%;
}

footer {
    padding-top: 15px;
}

#result {
    margin-left: 20%;
    text-align: left;
}

#restartbutton {
    margin: 1%;
}