body,
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    color: whitesmoke;
    background-color: #5baa5b;
    padding-top: 20px;
}

body {
    margin: 0 15%;
    background-color: #edeff1;
    color: #586a66;
    text-align: center;
}

h1 {
    background-color: #378537;
    color: #ffffff;
}

h2 {
    border-bottom: dotted #5baa5b 10px;
    padding-left: 10px;
}